/*------Base tags -------------*/
body {
  font-family:'Lora', serif;
}
h1 {
  margin-top: 0;
}

/*------Class tags ------------------*/
.header {
  text-align:center;
  padding-top:24px;
}

.menu {
  display: block;
  width: 300px;
  height: 700px;
  background-color: white;
  border: 0px solid #333;
  border-right-width: 1px;
  float: left;
  margin-right: 24px;
  padding: 20px;
}
.literature {
  list-style-type: none;
    padding-left: 0;
}

.literature li {
  margin:12px 0 0px;
  cursor:pointer;
}

.body{
  white-space: pre-wrap;
  font-size: 16px;
  line-height: 1.4;
}

.spinner {
  margin: 0 auto;
  display: block;
  margin-top: 50px;
}
